<div>
    <a class="author" href="https://www.wattpad.com/user/{{ story.author.username }}">
        <img src="{{ story.author.avatar }}" alt="Author avatar">
        <h2>{{ story.author.name }}</h2>
    </a>
</div>
