<a class="author" href="https://www.wattpad.com/user/{{ story.author.username }}">
    <div>
        <img src="{{ story.author.avatar }}" alt="Author avatar">
        <p>{{ story.author.name }}</p>
    </div>
</a>
