{% extends "base.j2" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script src="static/index.js"></script>
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <p>Welcome to the home page!</p>
{% endblock %}
