{% extends "base.j2" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function onReady() {
            console.log('Hello from JavaScript!');
        }

        $(document).ready(onReady);
    </script>
{% endblock %}

{% block content %}
    <h1>Wattpad Downloader</h1>
    <p>Download your favorite stories from Wattpad!</p>
{% endblock %}
