{% extends "base.j2" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <script>
        function onReady() {
            console.log('Hello from JavaScript!');
        }

        $(document).ready(onReady);
    </script>
{% endblock %}

{% block content %}
    <h1>Wattpad Downloader</h1>
    <p>Download your favorite stories from Wattpad!</p>
    <form action="/api/story" method="get">
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" name="url" placeholder="Enter the URL of the story" required>
        </div>
        <button type="submit" class="btn btn-primary">Download</button>
    </form>
{% endblock %}
