{% extends "base.j2" %}

{% block title %}{{ story.title }}{% endblock %}

{% block content %}
    <div class="story">
        <div class="cover">
            {% if story.cover %}
            {# Render the story image #}
            <a id="cover" href="{{ story.url }}">
                <img id="cover-image" src="{{ story.cover }}" alt="{{ story.title }}">
            </a>
            {% endif %}
            <div>
            <h1>{{ story.title }}</h1>
            {# Render the story author #}
            <a class="author" href="https://www.wattpad.com/user/{{ story.author.username }}">
                <img src="{{ story.author.avatar }}" alt="Author avatar">
                <h2>{{ story.author.name }}</h2>
            </a>
            </div>
        </div>
{#        <hr>#}
        {# Render the tags #}
        <div class="chips">
        {% for tag in story.tags %}
            <a class="chip" href="https://www.wattpad.com/stories/{{ tag }}">#{{ tag }}</a>
        {% endfor %}
        </div>
        {# Render the story description #}
        <div class="description">
        {# split story.description at each newline character #}
        {% for paragraph in story.description.split('\n') %}
            {% if paragraph.strip() != "" %}
                <p>{{ paragraph }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {# Line Break #}
    <hr>
    {# Render the story comments #}
{% endblock %}